.container 
        {
            background-color:teal;
            padding: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        img 
        {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin-top: 20px;
        }
        body 
        {
            font-family: Arial, sans-serif;
            font-size: 15px;
            margin: 0;
            padding: 0;
            background-color: green;
        }
        pre 
        {
            font-family: rial, sans-serif;
            font-size: 15px;
            
        }
        header 
        {
            background: #333;
            color: #fff;
            padding: 1rem;
            text-align: center;
        }
        nav{background-color: #333;}
        nav ul
        {
            list-style: none;
            padding: 0;
        }
        nav ul li 
        {
            display: inline;
            margin: 0 15px;
        }
        nav ul li a 
        {
            color: #fff;
            text-decoration: none;
        }
        a:hover 
        {
            background-color: #111111;

        }
        section 
        {
            padding: 10px;
            margin: 20px;
            background: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            font-family: Arial, Helvetica, sans-serif;
        }

        #education {background-color: gray;}
        #interests {background-color: plum;}
        #skills {background-color: brown;}
        #projects {background-color: greenyellow;}
        #references {background-color: powderblue;}
        #getin_touch {background-color: palegoldenrod;}
        #about {background-color: paleturquoise;}

        footer 
        {
            text-align: center;
            padding: 10px;
            background: #333;
            color: white;
            margin-top: 20px;
        }
        table , th, td 
        {
            border: 2px solid black;
            border-collapse: collapse;
        }
        th {background-color: aquamarine;}

        th, td {padding: 5px;}

        td 
        {
            background-color: aqua;
        }
        table
        {
            width: auto;
            border-spacing: 0;
        }
        form {
            display: flex;
            flex-direction: column;
        } 
         /* input, textarea {
            margin-bottom: 10px;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 1px
         } 
         input, textarea {width: 400px;} */
       
        .submit {
            background-color: #04AA6D;
            border: none;
            color: white;
            padding: 16px 32px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
        }
        button:hover {
            background: #555;
        }

        input {
            width: auto;
            padding: 10px;
            margin: 10px 0;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 14px;
            transition: border-color 0.3s ease;
        }

        textarea {
            width: auto;
            padding: 10px;
            margin: 10px 0;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 14px;
            min-height: 100px;
            resize: vertical;
            transition: border-color 0.3s ease;
        }